* {box-sizing: border-box;}

body{
	background-color: #ecf0f1;
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h1{
	color: #E24C40;
}

nav h2{
	font-size: 1rem;
	margin: 1%;
	color: #2179A3;
}

ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

li{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#tools h2, #tools span{
	margin: 1%;
}

#tools span, .lineWidth{
	border:	1px solid lightgray;
	padding: 5px;
	background-color: white;
}

.round, #img{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	margin: 1%;
}

#red{
	background-color: #ff0000;
}

#yellow{
	background-color: #ffff00;
}

#green{
	background-color: #00ff00;
}

#lightblue{
	background-color: #00ffff;
}

#blue{
	background-color: #0000ff;
}

#purple{
	background-color: #ff00ff;
}

#black{
	background-color: #010000;
}

.lineWidth, #lineWidth h2{
	margin: 1%;
}

#tools span, .lineWidth, .round{
	cursor: pointer;
}

#palette-container {
	display: inline-block;
	width: 300px;
	height: 400px;
	position: relative;
}

#img-container {
	position: fixed;
	top: 0; right: 0; bottom: 100%; left: 0;
	z-index: 1;
	overflow: hidden;

	background-color: rgba(0, 0, 0, 0.6);
	transition: all .5s ease;
}

.zoom {
	display: none;
	position: absolute;
	/* left: -99999px;
	top:  -99999px; */
	width: 60px;
	height: 60px;
	background-color: blue;
	border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
	border-width: 3px;
	border-color: #000000ba;
    border-style: solid;
	pointer-events: none;
}

#colorPicker{
	cursor: none;
}
